<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Map Operator</h1>
      <h3>Department ['CS','IT','EC']</h3>
      <hr>
      <ul class="mylist-1"></ul>
    </div>
    <div class="col-md-4">
      <h1>SwitchAll Operator</h1>
      <h3>Department ['CS','IT','EC']</h3>
      <hr>
      <ul class="mylist-2"></ul>
    </div>
    <div class="col-md-4">
      <h1>SwitchMap Operator</h1>
      <h3>Department ['CS','IT','EC']</h3>
      <hr>
      <ul class="mylist-3"></ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h1>Merge Map Operator</h1>
      <h3>Department ['CS','IT','EC']</h3>
      <hr>
      <ul class="mylist-4"></ul>
    </div>
    <div class="col-md-4">
      <h1>ConcatMap Operator shows data in order</h1>
      <h3>Department ['CS','IT','EC']</h3>
      <hr>
      <ul class="mylist-5"></ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <h1>All User Data</h1>
      <p class="data-1"></p>
    </div>
    <div class="col-md-5">
      <h1>All Album Data</h1>
      <p class="data-2"></p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>